.a {

width: 244px;

margin: 0 auto;

border :1px solid pink;

}

div div{

	background: no-repeat url(../images/通讯录.png) #fefefe;
}
.a1{

	height: 49px;
	background-position:21px 17px;
}
.a2{

	height:46px;
    background-position:21px -33px;
	border-top: 1px solid #d7d7d7;
	
}
.a3{
    background-position: 19px -80px;
	border-left: 2px solid #cc6834;

}
.a4{

	background-position: 21px  -127px;
}
.a5{

	background-position: 21px  -174px;
}
.a6{

	background-position: 21px  -221px;
}
