#father{

width: 244px;



}

#first{

height: 49px;

background: no-repeat url(../images/通讯录.png) 21px 17px #ffffff;

}
#second{

height: 46px;

background: no-repeat url(../images/通讯录.png) 21px -33px #fefefe;

border-top: 1px solid #d7d7d7;

}

#third{

height: 46px;

background:  no-repeat url(../images/通讯录.png) 19px -80px #fcfcfc;

border-left: 2px solid #cc6834;

border-top: 1px solid #c6c6c6;

}

#forth{

height: 46px;

background:no-repeat url(../images/通讯录.png) 21px  -127px #fef8fc;

border-top: 1px solid #c7c7c7;

}

#fifth{

height: 46px;

background:no-repeat url(../images/通讯录.png) 21px  -174px #f8f8f8;

border-top: 1px solid #c9c9c9;

}

#sixth{
height: 46px;

background:no-repeat url(../images/通讯录.png) 21px  -221px #f6f6f6;

border-top: 1px solid #c9c9c9;

}