*{                 //清理默认样式  

margin: 0;

padding: 0;


}


.wrapper{

width: 294px;

height: 339px;

margin: 10px auto;

padding-left: 50px;

padding-top: 50px;

background: url(../images/xiaoxiao.png);

}

.wrapper div{

width: 244px;

height: 46px;

border-top:1px solid #d7d7d7;

background: no-repeat url(../images/通讯录.png) #fefefe;

}

.wrapper .m1{

	height: 49px;

	background-position: 21px 19px;

}
.wrapper .m2{

background-position:21px -33px;

}

.wrapper .m3{

width: 242px;

background-position: 19px -80px;

border-left: 2px solid #cc6834; 

}
.wrapper .m4{

background-position: 21px -127px;

}
.wrapper .m5{

background-position: 21px -174px;

}

.wrapper .m6{

	background-position: 21px -221px
}
